__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.venv/
venv/
build/
dist/
*.egg-info/

*.log
*.pid
pids.txt
logs/
wandb/
visualization/
results/
outputs/
train_out/
checkpoints/
data/

*.pt
!wan_va/assets/empty_text_emb.pt
*.pth
*.ckpt
*.safetensors

.DS_Store
.vscode/
